{% import '@OroUI/macros.html.twig' as UI %}

{% if is_granted('oro_customer_customer_view') and customers|length > 0 %}
    {% set subtitle = 'oro.sales.customer.entity_plural_label'|trans %}
    {% set tabs = [] %}
    {% for customer in customers %}
        {% set tabs = tabs|merge([
            {
                'alias': 'oro_customer_info_customer_' ~ customer.id,
                'widgetType': 'customer-info',
                'label': customer|oro_format_name,
                'url': path('oro_account_customer_widget_customer_info', {
                    'id': customer.id, 'channelId': channel.id
                })
            }
        ]) %}
    {% endfor %}
    {% if (tabs|length > 1) %}
        {% if not isMobileVersion() %}
            {% set tabsOptions = {
                verticalTabs: true,
                useDropdown: false,
                subtitle: 'oro.sales.customer.entity_plural_label'|trans
            } %}
        {% endif %}
        {% import '@OroUI/macros.html.twig' as UI %}
        <div class="widget-content account-customer-info multicustomer" {{ UI.renderPageComponentAttributes({
            module: 'oroui/js/app/components/view-component',
            options: {
                view: 'orosales/js/app/views/account-multicustomer-view',
                customerType: 'account_customer',
                useChannel: true
            }
        }) }}>
            {{ tabPanel(tabs, tabsOptions|default({})) }}
        </div>
    {% else %}
        <div class="widget-content account-customer-info">
            {{ oro_widget_render(tabs[0]) }}
        </div>
    {% endif %}
{% endif %}
