services:
    oro_contact_us_bridge.contact_request_type:
        class: 'Oro\Bridge\ContactUs\Form\Type\ContactRequestType'
        arguments:
            - '@oro_security.token_accessor'
        calls:
            - [setLocalizationHelper, ["@oro_locale.helper.localization"]]
        tags:
            - { name: form.type}

    oro_contact_us_bridge.contact_request_form_widget:
        class: 'Oro\Bridge\ContactUs\Widget\ContactRequestFormWidget'
        lazy: true
        arguments:
            - '@form.factory'
            - '@router'
            - '@twig.form.renderer'
            - '@request_stack'
        tags:
            - {name: oro_cms.widget, alias: contact_us_form}

    oro_contact_us_bridge.event_listener.contact_request_datagrid:
        class: 'Oro\Bridge\ContactUs\EventListener\ContactRequestDatagridListener'
        tags:
            - { name: kernel.event_listener, event: oro_datagrid.datagrid.build.before.orcrm-contact-requests-grid, method: onBuildBefore }

    oro_contact_us_bridge.event_listener.contact_request_view:
        class: 'Oro\Bridge\ContactUs\EventListener\ContactRequestViewListener'
        tags:
            - { name: kernel.event_listener, event: oro_ui.scroll_data.before.contactRequestView, method: onView }
