services:
    _defaults:
        public: true

    Oro\Bridge\CustomerAccount\Controller\CustomerController:
        calls:
            - ['setContainer', ['@Psr\Container\ContainerInterface']]
        tags:
            - { name: container.service_subscriber }
            - { name: container.service_subscriber, id: oro_sales.manager.account_customer, key: Oro\Bundle\SalesBundle\Entity\Manager\AccountCustomerManager }
