{% block _contact_us_required_wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' contact-us-required',
        'aria-hidden': 'true'
    }) %}

    <div {{ block('block_attributes') }}>
        {{- block_widget(block) -}}
    </div>
{% endblock %}
{% block _contact_us_required_label_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' required-label',
        'aria-hidden': 'true'
    }) %}

    <p {{ block('block_attributes') }}><span class="required-symbol" aria-hidden="true">*</span> {{ 'oro.contactus.required_info'|trans }}</p>
{% endblock %}
