{% import 'OroUIBundle::macros.html.twig' as UI %}
{% if customerUser %}
    {% if resource_granted('oro_customer_customer_user_view') %}
        {% set customerUserData %}
            <a href="{{ path('oro_customer_customer_user_view', {id: customerUser.id}) }}">
                {{ customerUser.fullName }}
            </a>
        {% endset %}
    {% else %}
        {% set customerUserData %}
            {{ customerUser.fullName }}
        {% endset %}
    {% endif %}
{% else %}
    {{ UI.renderHtmlProperty('oro.contactus.contactrequest.customer_user.label'|trans, customerUserData|default('N/A')) }}
{% endif %}