<ul>
    {% for error in errors %}
        {% set label = error.origin.config.getOption('label')|trans %}
        <li>{% if label is not empty %} {{ label }}: {% endif %} {{ error.message }}</li>
    {% endfor %}
</ul>
