system_configuration:
    groups:
        contact_requests:
            title: oro.contact_us_bridge.system_configuration.groups.contact_requests.label
            icon: 'fa-book'
        contact_requests_check:
            title: oro.contact_us_bridge.system_configuration.groups.contact_requests.label
    fields:
        oro_contact_us_bridge.enable_contact_request:
            data_type: boolean
            type: Oro\Bundle\ConfigBundle\Form\Type\ConfigCheckbox
            options:
                label: oro.contact_us_bridge.system_configuration.fields.contact_requests.label
                tooltip: oro.contact_us_bridge.system_configuration.fields.contact_requests.tooltip
                required: false
        oro_contact_us_bridge.consent_contact_reason:
            data_type: integer
            type: Oro\Bundle\ContactUsBundle\Form\Type\ContactReasonSelectType
            options:
                label: oro.contact_us_bridge.system_configuration.fields.consent.consent_contact_reason.label
                required: false
                create_enabled: false
                tooltip: oro.contact_us_bridge.system_configuration.fields.consent.consent_contact_reason.tooltip
    tree:
        system_configuration:
            commerce:
                children:
                    customer:
                        priority: 1000
                        children:
                            contact_requests:
                                priority: 100
                                children:
                                    contact_requests_check:
                                        children:
                                            - oro_contact_us_bridge.enable_contact_request
                            consents:
                                children:
                                    consents:
                                        children:
                                            - oro_consent.consent_feature_enabled
                                            - oro_contact_us_bridge.consent_contact_reason
                                            - oro_consent.enabled_consents
