operations:
    DELETE:
        exclude_datagrids:
            - opportunity-quotes-grid
    UPDATE:
        exclude_datagrids:
            - opportunity-quotes-grid
    oro_sale_expire_quote:
        datagrids:
            - opportunity-quotes-grid

    opportunity_quotes_delete:
        extends: DELETE
        for_all_entities: false
        for_all_datagrids: false
        replace:
            - datagrids
            - preconditions
            - exclude_datagrids
        datagrids:
            - opportunity-quotes-grid
        preconditions:
            '@and':
                - '@not_blank': $.data
                - '@or':
                    - '@blank': $.requestRoute
                    - '@and':
                        - '@not_blank': $.routes[name]
                - '@or':
                    - '@not_blank': $.routes[name]
                    - '@not_blank': $.gridName
    opportunity_quotes_update:
        extends: UPDATE
        for_all_entities: false
        for_all_datagrids: false
        replace:
            - datagrids
            - preconditions
            - exclude_datagrids
        datagrids:
            - opportunity-quotes-grid
        preconditions:
            '@and':
                - '@not_blank': $.data
                - '@not_blank': $.routes[update]
                - '@or':
                    - '@blank': $.requestRoute
                    - '@and':
                        - '@not_blank': $.routes[name]
action_groups:
    oro_sale_quote_duplicate:
        replace:
            - actions
        actions:
            - '@create_datetime':
                attribute: $.currentDatetime
            - '@duplicate':
                target: $.quote
                attribute: $.quoteCopy
                settings:
                    - [[setNull], [propertyName, [id]]]
                    - [[setNull], [propertyName, [qid]]]
                    - [[setNull], [propertyName, [demands]]]
                    - [[setNull], [propertyName, [internal_status]]]
                    - [[setNull], [propertyName, [customer_status]]]
                    - [[replaceValue, 'false'], [property, ['%oro_sale.entity.quote.class%', expired]]]
                    - [[replaceValue, 'false'], [property, ['%oro_sale.entity.quote.class%', pricesChanged]]]
                    - [[keep], [propertyName, [customerUser]]]
                    - [[keep], [propertyName, [customer]]]
                    - [[keep], [propertyName, [organization]]]
                    - [[keep], [propertyName, [owner]]]
                    - [[keep], [propertyName, [website]]]
                    - [[keep], [propertyName, [request]]]
                    - [[keep], [propertyName, [assignedUsers]]]
                    - [[keep], [propertyName, [assignedCustomerUsers]]]
                    - [[keep], [propertyName, [opportunity]]]
                    - [[keep], [property, ['%oro_sale.entity.quote_address.class%', country]]]
                    - [[keep], [property, ['%oro_sale.entity.quote_address.class%', region]]]
                    - [[keep], [property, ['%oro_sale.entity.quote_address.class%', customerAddress]]]
                    - [[keep], [property, ['%oro_sale.entity.quote_address.class%', customerUserAddress]]]
                    - [[keep], [propertyType, ['%oro_product.entity.product.class%']]]
                    - [[keep], [propertyType, ['%oro_product.entity.product_unit.class%']]]
                    - [[keep], [propertyType, ['%oro_payment_term.entity.payment_term.class%']]]
                    - [[keep], [propertyType, ['%oro_rfp.entity.request_product_item.class%']]]
                    - [[collection], [propertyType, ['Doctrine\Common\Collections\Collection']]]
            - '@assign_value': [$.quoteCopy.expired, false]
            - '@assign_value': [$.quoteCopy.createdAt, $.currentDatetime]
            - '@assign_value': [$.quoteCopy.updatedAt, $.currentDatetime]

            - '@foreach':
                conditions:
                    '@equal': [false, $.copy_notes]
                parameters:
                    array: $.quoteCopy.quoteProducts
                    value: $.quoteProduct
                    actions:
                        - '@assign_value': [$.quoteProduct.comment, '']
                        - '@assign_value': [$.quoteProduct.commentCustomer, '']

            - '@flush_entity':
                conditions:
                    '@equal': [true, $.flush]
                parameters:
                    entity: $.quoteCopy
